# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

pdftron lib
/public/webviewer

misc
/public/assets/webviewer/core
/public/assets/webviewer/ui
/public/lib/core
/public/lib/ui

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

noteaja.txt
# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.development.local
.env.test.local
.env.production.local
.env.local
.env

# vercel
.vercel

# media file
.mp4
.mp3
.avi
.ts