.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:'Courier New', Courier, monospace;
}
.logout_button{
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3px;
}

.user_name{
    color: violet;
}