html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input[type="text"], textarea {

  background-color : white; 

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#footer {
  position: sticky; 
  margin-top:auto;
  /* //negative value of footer height  */
} 

